$accent-color: #92c83e;
$default-color1: #353940;
$default-color2: #3d4147;

%robotoCondensed-400 {
  font-family: 'RobotoCondensed-Regular', sans-serif;
  font-weight: 400;
}
%robotoCondensed-700 {
  font-family: 'RobotoCondensed-Bold', sans-serif;
  font-weight: 700;
}
%PTSerif-400 {
  font-family: 'PTSerif-Regular', serif;
  font-weight: 400;
}
%PTSerif-700 {
  font-family: 'PTSerif-Bold', serif;
  font-weight: 700;
}







