@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';
@import 'libs';



@import 'construction';
@import 'real-estate';
@import 'agency';
@import 'details';

.header {
  padding: 75px 0 70px;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__content {
    flex-direction: column;
    align-items: flex-end;
    display: flex;
  }
}
.header__form {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  &-input {
    width: 240px;
    padding: 10px 15px 10px 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: transparent;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    color: #30353c;
    background-image: url(../images/icon/searchsvg.svg);
    background-position: 15px;
    background-repeat: no-repeat;
    &::placeholder {
      color: rgb(222, 223, 223);
      font-size: 13px;
      @extend %robotoCondensed-700;
    }
  }
  &-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 42px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    @extend %robotoCondensed-700;
    background-color: $accent-color;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  }
}
.header__menu {
  &-list {
    display: flex;
  }
  &-item {
    margin-left: 35px;
    &:hover .header__submenu {
      // opacity: 1;
      // visibility: visible;
      transform: scaleY(1);
    }
    &:first-child {
      margin-left: 0;
    }
  }
  &-link {
    @extend %robotoCondensed-700;
    color: #30353c;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;  
    &--active {
      color: $accent-color;
    }
  }
  &-close {
    position: absolute;
    z-index: 50;
    top: 20px;
    right: 50px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: -20px;
      right: -20px;
      background-color: $accent-color;
      width: 4px;
      height: 30px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
ul {
  .header__submenu {
    // opacity: 0;
    // visibility: hidden;
    transform: scaleY(0);
    transition: all 0.9s;
    min-width: 160px;
    z-index: 1;
    background-color: #fff;
    max-width: 320px;
    padding: 65px;
    box-shadow: 0px 7px 68px 0px rgba(53, 57, 64, 0.2);
    text-transform: uppercase;
    width: 320px;
    position: absolute;
    z-index: 5;
    margin-top: 30px;
    &::before {
      content: '';
      box-shadow: 0px 7px 68px 0px rgba(53, 57, 64, 0.2);
      background-color: #fff;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      width: 30px;
      height: 15px;
      top: -15px;
      left: 35px;
      position: absolute;
    }
    &-link {
      text-decoration: underline;
      @extend %robotoCondensed-700;
      position: relative;
      padding-left: 20px;
      transition: all 0.5s;
      margin-bottom: 10px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: $default-color1;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
      &:hover  {
        color: $accent-color;        
      }
      &--active {
        color: $accent-color;        
      }
    }
  }
}
.burger-btn {
  display: none;
  width: 50px;
  height: 30px;
  background-color: transparent;
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: $accent-color;
    width: 100%;
    height: 4px;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  } 
  span {
    display: block;
    background-color: $accent-color;
    width: 100%;
    height: 4px;
  }
}


.intro {
  background-image: linear-gradient(to bottom, rgba(63, 70, 77, 0.6), rgba(63, 70, 77, 0.6)), url(../images/bg-intro.jpg);
  height: 860px;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/intro-line.jpg);
    height: 10px;
    width: 1280px;
    box-shadow: 0px 44px 68px 0px rgba(0, 0, 0, 0.1), 0px 11px 111px 0px rgba(0, 0, 0, 0.4);
    z-index: 5;
  }
  &__content {
    padding: 210px 0 0 82px;
    &-title {
      span {
        color: $accent-color;
      }
    }
    &-subtitle {
      color: #fff;
      font-size: 40px;
      line-height: 1.5;
      margin-top: 20px;
    }
  }
  .intro__top {
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 44px 68px 0px rgba(0, 0, 0, 0.11), 0px 11px 111px 0px rgba(0, 0, 0, 0.004);
    padding: 75px 0 95px;
    position: relative;
    &-title {
      position: relative;
      padding-left: 95px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: $default-color2;
        z-index: 1;
      }
    }
  }
}
.intro--construction {
  background-image: linear-gradient(to bottom, rgba(63, 70, 77, 0.6), rgba(63, 70, 77, 0.6)), url(../images/bg-intro-bild.jpg);
}

.intro--estate {
  background-image: none;
  height: 325px;
  .intro__top {
    &-title::before {
      background-image: url(../images/icon/intro-estate-logo.png);
      width: 52px;
      height: 55px;
    }
  }
}
.intro--details {
  height: 235px;
  background-image: none;
  .intro__top {
    &-title::before {
      background-image: url(../images/icon/intro-estate-logo.png);
      width: 52px;
      height: 55px;
    }
  }
}
.intro--agency {
  height: 235px;
  background-image: none;
  .intro__top {
    &-title::before {
      background-image: url(../images/icon/intro-agency-logo.png);
      width: 59px;
      height: 55px;
    }
  }
}



.breadcrumbs {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 44px 68px 0px rgba(0, 0, 0, 0.11), 0px 11px 111px 0px rgba(0, 0, 0, 0.004);
  padding: 35px 0;
  &__items {
    display: flex;
    align-items: center;
    &-item {
      position: relative;
      padding-left: 23px;
      cursor: pointer;
      @extend %robotoCondensed-700;
      font-size: 15px;
      line-height: 20px;
      text-transform: uppercase;
      margin-right: 50px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 5px;
        height: 5px;
        background-color: $default-color1;
        border-radius: 50%;
      }
      &--active {
        color: $accent-color;
        &::before {
          background-color: $accent-color;
        }
      }
    }
  }
}


.cards__wrap {
  counter-reset: my-counter;
  position: relative;
  top: -300px;
  margin-bottom: -600px;
  &::before, 
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 158px;
    background-color: $accent-color;
  }
  &::before {
    top: -110px;
    left: 220px;
  }
  &::after {
    bottom: -130px;
    right: 160px;
  }
}
.card {
  counter-increment: my-counter;
  max-width: 925px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 44px 68px 0px rgba(0, 0, 0, 0.2), 0px 11px 111px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.8s;
  //box-shadow: 0px 43px 60px 0px rgba(53, 57, 64, 0.2), 0px -20px 51px -5px rgba(53, 57, 64, 0.2);
  padding: 75px 125px 90px 290px;
  position: relative;
  &:hover {
    box-shadow: 0px 44px 68px 0px rgba(0, 0, 0, 0.4), 0px 11px 111px 0px rgba(0, 0, 0, 0.8);
  }
  &::before {
    content: "0" counter(my-counter);
    position: absolute;
    @extend %PTSerif-700;
    font-size: 300px;
    line-height: 110px;
    height: 300px;
    overflow: hidden;
    margin-top: -125px;
    color: rgba(53, 57, 64, 0.071);
    top: 125px;
  }
  &--left {
    margin-left: auto;
    padding: 75px 125px 90px 290px;
    &::before {    
      right: 30px;
    }
    .card__img {
      left: -290px;
    }
  }
  &--right {
    margin-right: auto;
    padding: 75px 290px 90px 125px;
    &::before {
      left: 60px;
    }
    .card__img {
      right: -290px;
    }
  }
}
.card__content {
  position: relative;
  &-subtitle {
    color: $accent-color;
    text-transform: uppercase;
    margin: 15px 0 55px;
    @extend %robotoCondensed-700;
  }
  &-link {
    margin-top: 40px;
    padding: 25px 35px;
  }
}
.card__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 21px solid #fff;
  box-shadow: 0px 7px 68px 0px rgba(53, 57, 64, 0.2);
  &::after {
    position: absolute;
    top: -4px;
    right: -66px;
    height: 50px;
    width: 170px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    clip-path: polygon(30% 0, 70% 0%, 100% 100%, 0% 100%);
    text-align: center;
    transform: rotate(45deg);
  }
  &--red::after {
    content: 'Ведеться продаж !';
    background-color: #f54848;
  }
  &--blue::after {
    content: 'Розпочате Проектування';
    background-color: #268ceb;
  }
  &--green::after {
    content: 'Введено в експлуатацію';
    background-color: #98ca45;
  }
  img {
    max-width: 485px;
    width: 100%;
    height: 390px;
  }
}


.video {
  background-color: #f6f6f6;
  padding-top: 430px;
  margin-bottom: -340px;
  &__title {
    color: $default-color1;
    margin-bottom: 50px;
    span {
      color: $accent-color;
    }
  }
}
.video__block {
  background-color: #30353c;
  position: relative;
  z-index: 5;
  // max-width: 1200px;
  // height: 720px;
  // width: 100%;
  // margin: 0 auto;
  // iframe {
  //   width: 100%;
  //   height: 100%;
  // }
}

.video--construction,
.video--details {
  background-color: #fff;
  padding-top: 0;
  margin-bottom: -370px;
}


.footer {
  position: relative;
  padding: 400px 0 100px;
  background-image: linear-gradient(to bottom, rgba(63, 70, 77, 0.6), rgba(63, 70, 77, 0.6)), url(../images/footer-bg.jpg);
  height: 1185px;
  background-repeat: no-repeat;
  background-position: top;
  background-repeat: no-repeat;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/intro-line.jpg);
    height: 10px;
    width: 1280px;
    box-shadow: 0px 44px 68px 0px rgba(0, 0, 0, 0.1), 0px 11px 111px 0px rgba(0, 0, 0, 0.4);
  }
  &__title {
    color: #fff;
    margin-bottom: 100px;
  }
}
.footer--estate {
  padding: 100px 0 150px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  &-item {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  &-info {
    position: relative;
    color: #fff;
    @extend %robotoCondensed-700;
    padding-left: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    &--address::before { 
      height: 25px;
      width: 16px; 
      background-image: url(../images/icon/location.svg);
    }
    &--num::before {
      height: 25px;
      width: 23px;
      background-image: url(../images/icon/phone.svg);
    }
    &--email::before {
      height: 22px;
      width: 25px;
      background-image: url(../images/icon/email.svg);
    }
  }
  &-phone {
    @extend %PTSerif-700;
    font-size: 30px;
    line-height: 37px;
    display: block;
  }
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &-text {
    color: #fff;
    font-size: 18px;
    span {
      color: $accent-color
    }
  }
}


.slider {
  // margin: 0 auto;
  // width: 1250px;
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    cursor: pointer;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
    position: absolute;
    top: 0;
    width: 40px;
    height: 50px;
  }
  .swiper-button-next::after {
    right: 0;
    background-image: url(../images/icon/angle-right-big.svg); 
  }
  .swiper-button-prev::after {
    left: 0;
    background-image: url(../images/icon/angle-left-big.svg);
  }
}
.slider-modal {
height: 800px;
  width: 1120px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 150px 50px;
  position: relative;
  z-index: 1;
  // &__wrap {
  //   position: relative;
  // }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3d4147;
    cursor: pointer;
    z-index: 50;
    margin: 0 15px;
  }
}





.gallery-slider__big {
  width: 570px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 7px 68px 0px rgba(53, 57, 64, 0.2);
  border: 20px solid #fff;
  &-slide {
    box-sizing: border-box;
    // box-shadow: 0px 7px 68px 0px rgba(53, 57, 64, 0.2);
    // border: 20px solid #fff;
    height: 385px;
    width: 100%;
    margin: 0;
  }
}
.swiper-slide {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.gallery-slider__small {
  width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 10;
  &-slide {
    box-sizing: border-box;
    width: 30%;
    margin: 0;
    max-width: 170px;
    border: 12px solid #fff;
    height: 140px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 68px 0px rgba(53, 57, 64, 0.1);
  }
  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.gallery-slider__button {
  position: relative;
  z-index: 50;
  &-next,
  &-prev {
    position: absolute;
    bottom: 50px;
    cursor: pointer;
  }
  &-next {
    right: -20px;
  }
  &-prev {
    left: -20px;
  }
}



.popup {
  position: fixed;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.4s linear;

  &__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
  }

  &__content {
    background-color: #fff;
    padding: 50px;
    position: relative;
    z-index: 20;
    width: 1280px;
    height: 880px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &-active {
    transform: translate(-50%, -50%) scale(1);
  }

  &-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.overlay {
  opacity: 0;
  background-color: rgba(56, 61, 67, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;

  &-active {
    pointer-events: all;
    opacity: 1;
    z-index: 10;
  }
}


@import 'media';

